<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
  <title>Env Variables Check</title>
</head>
<body>
    <h2>Twilio</h2>
    <p>Paste the following URL into your Twilio config:<b>https://{{ env_vars.BASE_URL}}/inbound_call</b></p>
    <h2>Env Variables</h2>
    <p>Please set the following <a href="https://docs.replit.com/programming-ide/workspace-features/secrets" target="_blank">env variables:</a></p>
    <ul>
        {% for key, value in env_vars.items() %}
          {% if key != "BASE_URL" %}
      <li>
        <input type="checkbox" id="{{ key }}" {% if value %}checked{% endif %} disabled>
          <label for="{{ key }}">{{ key }}</label>
      </li>
          {% endif %}
        {% endfor %}
    </ul>
    <h2>Inbound Calls</h2>
  <p>Set the URL above and purchase a Twilio phone number <a href="https://www.twilio.com/docs/voice/tutorials/how-to-respond-to-incoming-phone-calls/python#buy-and-configure-a-phone-number" target="_blank">as described here.</a></p>
  
    <h2>Change Behaviour</h2>
    <form id="changeBehaviour", class="call-form">
      <label for="Behaviour">Behaviour Prompt</label>
      <textarea name="Behaviour" id="Behaviour"></textarea>
      <label for="Content">Roadmap</label>
      <textarea name="Content" id="Content"></textarea>
      <input type="submit" value="Update Behaviour">
    </form>


    <h2>Audio Settings</h2>
    <form id="audioSettings", class="call-form">
      <label for="playHTUserId" >Play.ht User ID</label>
      <input type="text" id="playHTUserId" name="playHTUserId" >
      <label for="playHTApiKey" >API Key</label>
      <input type="text" name="playHTApiKey" id="playHTApiKey" >
      <select name="avatar" id="avatar">
      {% for key, value in avatars.items() %}
      <option value="{{value}}">{{key}}</option>
      {% endfor %}
    </select>
      <br>
      <input type="submit" value="Update Voice Settings">
    </form>
    

  <h2>Quick Outbound Call</h2>
    <form id="outboundCallForm", class="call-form">
        <label for="recipient">Recipient:</label>
        <input type="text" id="recipient" name="recipient" required>
        <br>
        <input type="submit" value="Start Call">
    </form>

    <h2>Zoom Meeting Call</h2>
    <form id="zoomCallForm", class="call-form">
        <label for="meetingId">Meeting ID:</label>
        <input type="text" id="meetingId" name="meetingId" required>
        <br>
        <label for="meetingPassword">Meeting Passcode:</label>
        <input type="text" id="meetingPassword" name="meetingPassword" required>
        <br>
        <input type="submit" value="Start Zoom Call">
    </form>
    <div id="messageContainer"></div>
</body>
<script>
  const BASE_URL = "{{ env_vars.BASE_URL }}";
</script>
<script src="{{ url_for('static', path='script.js') }}"></script>
</html>