<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
  <title>Solution Advisor Agent</title>
</head>
<body>
    <h1 class="main-title">Solution Advisor Agent</h1>
    
    <div class="container">
      <div class="column">
        <h2>Change Behaviour</h2>
          <form id="changeBehaviour" class="call-form">
            <label for="Behaviour">Behaviour Prompt</label>
            <textarea name="Behaviour" id="Behaviour"></textarea>
            
            <label for="Content">Roadmap</label>
            <textarea name="Content" id="Content"></textarea>
            
            <div class="or-divider">OR</div>
            
            <label for="roadmapFile" class="file-upload">
              <span>Upload Roadmap File</span>
              <input type="file" id="roadmapFile" name="roadmapFile" accept=".txt,.pdf,.doc,.docx">
            </label>
            <br>
            <span id="selectedFileName"></span>
            
            <div class="checkbox-container">
              <input type="checkbox" id="overrideBehaviour" name="overrideBehaviour">
              <label for="overrideBehaviour">Override Default Behaviour</label>
            </div>
            
            <input type="submit" value="Update Behaviour">
            <div class="message-container"></div>
          </form>


        <h2>Audio Settings</h2>
        <form id="audioSettings" class="call-form">
          <!-- <label for="playHTUserId">Play.ht User ID</label>
          <input type="text" id="playHTUserId" name="playHTUserId">
          <label for="playHTApiKey">API Key</label>
          <input type="text" name="playHTApiKey" id="playHTApiKey"> -->
          <label for="avatar">Avatar</label>
          <select name="avatar" id="avatar">
            {% for key, value in avatars.items() %}
            <option value="{{value}}">{{key}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Update Voice Settings">
          <div class="message-container"></div>
        </form>
        
      </div>

      <div class="column">
        <h2>Client Email</h2>
        <form id="clientEmail" class="call-form">
          <label for="email">Email ID</label>
          <input type="text" id="email" name="email">
          <input type="submit" value="Use this mail">
          <div class="message-container"></div>
        </form>


        <h2>Quick Outbound Call</h2>
        <form id="outboundCallForm" class="call-form">
          <label for="recipient">Recipient:</label>
          <input type="text" id="recipient" name="recipient" required>
          <input type="submit" value="Start Call">

        <div class="message-container"></div>
        </form>
        <p>Or give a call at +18159402559</p>

        <h2>Zoom Meeting Call</h2>
        <form id="zoomCallForm" class="call-form">
          <label for="meetingId">Meeting ID:</label>
          <input type="text" id="meetingId" name="meetingId" required>
          <label for="meetingPassword">Meeting Passcode:</label>
          <input type="text" id="meetingPassword" name="meetingPassword" required>
          <input type="submit" value="Start Zoom Call">
          <div class="message-container"></div>
        </form>

        <input type="hidden" id="defaultPrompt" value="{{prompt}}">
        <h2>Behaviour Prompt</h2>
        <p id="currentBehaviorPrompt">{{prompt}}</p>

        
      </div>
    </div>

    <div id="messageContainer"></div>
    <input type="hidden" id="BASE_URL" value="{{ env_vars.BASE_URL }}">  
  </body>

<script src="{{ url_for('static', path='script.js') }}"></script>
</html>